@import "tailwindcss";

.post-content {
  font-size: 1.25rem;
  line-height: 1.9;
  background: #fff;
  padding: 30px 40px;
  margin-top: 20px;
  border-radius: 18px;
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.07);
}

.post-info {
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.06);
}
